
@{
    ViewBag.Title = "AwaitConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bem-vindo a Schedule Beauty</h2>
<p>Por favor, verifique sua caixa de entrada para confirmação do e-mail</p>

